@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: #212427;
  --darkerBlack: #121212;
  --white: #e8e8e8;
  --fontColor: var(--black);
  --background: #fff;
  --background2: #fff;
  --shadow: rgb(0 0 0 / 0.3);
  --navBackground: #e8e8e8;
  --navHover: #919090;
  --selection-background: var(--fontColor);
  --selection-color: var(--background);
  --sun: #FDB813;
  --fontFamilyPoppins: "Poppins", sans-serif;
  --defaultTransition: all 0.3s;
}

.dark-mode {
  --fontColor: #e8e8e8;
  --background: #121212;
  --background2: var(--black);
  --shadow: transparent;
  --navBackground: var(--black);
  --navHover: #525252;
  --selection-background: var(--fontColor);
  --selection-color: var(--background);
  color-scheme: dark light;
}

html {
  color-scheme: light;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*:not(.title)::-moz-selection {
  background: #ac539c;
  color: #fff;
}
*:not(.title)::selection {
  background: #ac539c;
  color: #fff;
}

body {
  font-family: var(--fontFamilyPoppins);
  padding-top: 5vh;
  padding-top: 5dvh;
  background: #f3f5f6;
}

@keyframes bodyAnimation {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 100%;
  }
}
.clipBoard {
  width: 14rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -7rem;
  z-index: 10;
  text-align: center;
  font-weight: bold;
  color: var(--white);
  padding: 1.7rem 0;
  border-radius: 0 0 1rem 1rem;
  background: #ac539c;
  transition: all 0.5s ease-in-out;
}
.clipBoard.active-clipBoard {
  top: 0;
}

header {
  position: relative;
}

.volume {
  position: absolute;
  top: 0;
  right: 0;
}
.volume > * {
  cursor: pointer;
  font-size: 1.1rem;
}
.volume .fa-volume-high {
  color: #ac539c;
}
.volume .fa-volume-xmark {
  color: red;
  display: none;
}
.volume.off .fa-volume-high {
  color: #ac539c;
  display: none;
}
.volume.off .fa-volume-xmark {
  display: block;
  color: red;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 44rem;
  border-radius: 1rem;
  margin-inline: auto;
  box-shadow: 0 5px 0 #d4d6dc;
  padding-inline: 1.6rem;
  padding-top: 1rem;
  overflow: hidden;
  transform: scale(0.3) translateY(6rem);
  opacity: 0;
  animation: containerPopUp 0.7s ease-in-out 0s forwards;
}

@keyframes containerPopUp {
  to {
    transform: scale(1) translateY(0rem);
    opacity: 1;
  }
}
.title {
  text-align: center;
  font-weight: 800;
  font-size: 1.8rem;
  background-image: linear-gradient(35deg, #12c2e9, #c471ed, #f64f58);
  background-position: center;
  animation: bodyAnimation 5s ease 0s infinite alternate;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5rem;
}
.info-block:first-child {
  color: #9ba0a7;
}
.info-block .clear-completed {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
  border: none;
  background: #f3f3f7;
  color: #b0b3b8;
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 3px 0 0 #9ba0a7;
}
.info-block .clear-completed:hover, .info-block .clear-completed:focus {
  transform: translateY(-1px);
  box-shadow: 0 1px 0 0 #9ba0a7;
}
.info-block .clear-completed.shown-button {
  -webkit-user-select: initial;
     -moz-user-select: initial;
          user-select: initial;
  pointer-events: initial;
  opacity: 1;
}

form {
  width: 100%;
  position: relative;
  margin-bottom: 2.1rem;
}
form > * {
  transition: all 0.4s;
}
form label {
  color: #b0b3b8;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background: transparent;
}
form label.active-label {
  font-weight: 600;
  top: 0;
  background: #fff;
  padding: 0px 10px;
  border-radius: 100vmax;
  color: #ac539c;
}
form input {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 0.4rem;
  height: 2.8rem;
  padding-inline: 5% 12%;
  font-size: 1.1rem;
}
form input:focus {
  border: 2px solid #ac539c;
  box-shadow: 0 0 0 2px rgba(172, 83, 156, 0.3);
}
form input:focus ~ label {
  font-weight: 600;
  top: 0;
  background: #fff;
  padding: 2px 10px;
  border-radius: 100vmax;
  color: #ac539c;
}
form button {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #b0b3b8;
  font-size: 0.9em;
  cursor: pointer;
}
form button:focus, form button:hover {
  color: var(--black);
}

.tasks {
  list-style: none;
  transition: transform 0.6s ease-in-out;
}
.tasks.deleted-tasks {
  transform: translateX(-140%);
  opacity: 0.6;
}
.tasks .task {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.8rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
  box-shadow: inset 0 3px 2px 1px transparent;
  transition: transform 0.5s ease-in, opacity 0.5s, box-shadow 0.3s;
}
.tasks .task.selected {
  box-shadow: inset 0 3px 2px 1px rgba(0, 0, 0, 0.3);
}
.tasks .task.selected .task-block:last-child {
  display: none;
}
.tasks .task.deleted-task {
  opacity: 0.3;
  transform: translateX(-120%);
}
.tasks .task.deleted-task-right {
  opacity: 0.3;
  transform: translateX(120%);
}
.tasks .task .completed-task {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #ac539c;
  color: #b0b3b8;
}
.tasks .task-block {
  display: flex;
  gap: 1rem;
  position: relative;
}
.tasks .task-block input[type=checkbox] {
  margin-block: auto;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5px;
  border: 2px solid #b0b3b8;
}
.tasks .task-block input[type=checkbox]:hover {
  border: 2px solid #ac539c;
}
.tasks .task-block input[type=checkbox]::after {
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-size: 0.8rem;
  font-weight: 900;
  color: #fff;
}
.tasks .task-block input[type=checkbox]:checked {
  border: 2px solid #ac539c;
  background: #ac539c;
}
.tasks .task-block input[type=checkbox]:checked::after {
  content: "\f00c";
}
.tasks .task-block .task-name,
.tasks .task-block .update-task {
  overflow: hidden;
  width: 100%;
  width: 30rem;
  max-width: 35rem;
  border: none;
  outline: none;
}
.tasks .task-block .task-name {
  text-overflow: ellipsis; /* Show an ellipsis (...) when text overflows */
  white-space: nowrap;
}
.tasks .task-block .task-name.expanded {
  white-space: normal;
  word-break: break-all;
}
.tasks .task-block:last-child {
  transition: opacity 0.3s;
  opacity: 0.5;
  font-size: 1.1rem;
}
.tasks .task-block:last-child > * {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.tasks .task-block:last-child > *:hover {
  opacity: 1;
}
.tasks .task-block:last-child .fa-copy {
  color: #b0b3b8;
}
.tasks .task-block:last-child .fa-trash {
  color: rgb(226, 9, 9);
}
.tasks .task::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ac539c;
  opacity: 0.4;
  transform: scaleX(1.2);
}
.tasks .task:hover .task-block:last-child {
  opacity: 1;
}

.delete-all {
  cursor: pointer;
  width: 100%;
  background: #ac539c;
  border: 2px solid transparent;
  color: var(--white);
  font-size: 1.1rem;
  font-family: 600;
  border-radius: 0.7rem 0.7rem 0 0;
  transform: translateY(110%);
  transition: all 0.3s;
  opacity: 0;
  padding-block: 0.1rem;
}
.delete-all.delete-all-shown {
  transform: translateY(0);
  opacity: 1;
}
.delete-all:focus, .delete-all:hover {
  border: 2px solid #ac539c;
  background: #fff;
  color: #ac539c;
}

@media (width <= 700px) {
  .tasks .task-block, .task-name {
    max-width: 30rem;
  }
}
@media (width <= 590px) {
  .tasks .task-block, .task-name {
    max-width: 24rem;
  }
}
@media (width <= 490px) {
  .tasks .task-block, .task-name {
    max-width: 16rem;
  }
  form input {
    padding-right: 4rem;
  }
}
@media (width <= 360px) {
  .tasks .task-block, .task-name {
    max-width: 13rem;
  }
}
@media (width <= 310px) {
  .tasks .task-block, .task-name {
    max-width: 10rem;
  }
}/*# sourceMappingURL=style.css.map */
